# 忽略 Visual Studio 生成的文件和文件夹
.vs/
*.vcxproj.user
*.suo
*.user
*.userosscache
*.suo
*.ncb
*.sdf
*.opensdf
*.ipr
*.iws
*.dsk
*.ncb
*.log
*.tlog
*.ipch
*.pch
*.obj
*.pdb
*.lib
*.exe
*.dll
*.ilk
*.exp
*.idb
*.pdb
*.cache
*.db
*.swp
*.swo
*.class
